{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Image Detail {% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <a href="{{ image.image.url }}">
                    <img src="{% thumbnail image.image 350x0 quality=100 %}" alt="">
                </a>                
            </div>
        </div>
    </div>    
    <div class="col-md-7 card">
        <div class="card-header">
            <h4 class="text-primary"> {{ image.title }} </h4>
            {% with total_likes=image.users_like.count users_like=image.users_like.all %}
            <div class="d-flex justify-content-between">
                <h4>
                    <span id="totalLikes" class="badge badge-pill badge-warning">
                        {{ total_likes }} like{{ total_likes|pluralize }}
                    </span>
                </h4>
                <a href="#" id="likeBtn" data-id={{ image.id }}
                            data-action="{% if request.user in users_like %}un{% endif %}like"
                            class="btn btn-sm btn-danger rounded-pill">
                            {% if request.user in users_like %}
                            Unlike
                            {% else %}
                            Like
                            {% endif %}
                </a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{ image.description|linebreaks }}
            </h5>
            {% for user in users_like %}
            <!-- <img src="{{ user.profile.photo.url }}" alt=""> -->
            <p>{{ user.first_name }}</p>
            {% empty %}
                Nobody likes this image yet.
            {% endfor %}
            {% endwith %}
        </div>
    </div>
</div>    
{% endblock content %}

{% block domready %}
    $('a#likeBtn').click(function(e){
        e.preventDefault();
        $.post('{% url "images:like" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if(data['status'] == 'ok'){
                    var previousAction = $('a#likeBtn').data('action');
                    // toggle data-action
                    $('a#likeBtn').data('action', previousAction == 'like' ? 'unlike' : 'like');

                    // toggle the link text 
                    $('a#likeBtn').text(previousAction == 'like' ? 'unlike': 'like');

                    // Update the total likes 
                    var previousLikes = parseInt($('span#totalLikes').text());
                    $('span#totalLikes').text(previousAction == 'like' ? previousLikes + 1 : previousLikes - 1);
                }
            }
        );
    });
{% endblock %}