{% extends 'base.html' %}

{% block title %} Images {% endblock title %}

{% block content %}
<div class="card-deck ml-3" id="image-list">
    {% include "images/image/list_ajax.html" %}
</div>
{% endblock %}

{% block domready %}
    var page = 1;
    var emptyPage = false;
    var blockRequest = false;

    <!-- Scroll Down Event -->
    $(window).scroll(function(){
        var margin = $(document).height() - $(window).height() - 200;
        if ($(window).scrollTop() > margin && emptyPage == false && blockRequest == false) {
            blockRequest = true;
            page += 1;
            $.get('?page=' + page, function(data){
                if (data == ''){
                    emptyPage = true;
                }
                else {
                    blockRequest = false;
                    $('#image-list').append(data);
                }
            });
        }
    });

    <!-- Key Down event -->
    $(window).keydown(function(){
        console.log("Key down event triggered")
        var margin = $(document).height() - $(window).height() - 200;
        if ($(window).keyup() > margin && emptyPage == false && blockRequest == false) {
            blockRequest = true;
            page += 1;
            $.get('?page=' + page, function(data){
                if (data == ''){
                    emptyPage = true;
                }
                else {
                    blockRequest = false;
                    $('#image-list').append(data);
                }
            });
        }
    });

    <!-- Like event -->
    $('a#likeBtn').click(function(e){
        var likeBtn = $(this)
        var id = likeBtn.data('id');
        var previousAction = likeBtn.data('action');
        console.log("id: " + id);
        console.log("action: " + previousAction);
        
        e.preventDefault();
        
        $.post('{% url "images:like" %}',
            {
                id: id,
                action: previousAction
            },
            function(data){
                var likeIcon = $('i#likeIcon' + id );
                if(data['status'] == 'ok'){
                    // toggle data-action
                    likeBtn.data('action', previousAction == 'like' ? 'unlike' : 'like');

                    // toggle the inner HTML
                    if (previousAction == 'like') {
                        likeIcon.removeClass('bi-heart').addClass('bi-heart-fill');
                        
                    } else {
                        likeIcon.removeClass('bi-heart-fill').addClass('bi-heart');
                    } 
                }
            }
        );
    });
{% endblock %}