{% load static %}

<nav class="navbar navbar-expand-lg navbar-primary bg-light bg-gradient">
  <div class="container">
    <a class="navbar-brand" href="#">
      <!-- <span><i class="bi bi-cone-striped" role="img" style="font-size: 1.5rem; color: white;"></i></span>  -->
      <img src="{% static 'icons/brand_main.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      Bookmarks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item {% if section == 'dashboard' %}active{% endif %}">
           <a class="nav-link" href="{% url 'account:dashboard' %}">My Dashboard </a>
          </li>
          <li class="nav-item {% if section == 'images' %}active{% endif %}">
            <a class="nav-link" href="{% url 'images:list' %}">Images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if section == 'people' %}active{% endif %}" href="#">People</a>
          </li>
         {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        {% if request.user.is_authenticated %}
        <a href="{% url 'account:edit' %}" class="nav-link text-primary"> <i class="bi bi-person-circle" style="font-size: 1.25rem;"></i> Hello {{ request.user.first_name }}, </a>
        <a href="{% url 'account:logout' %}" class="text-primary mr-sm-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Logout"><i style="font-size: 1.25rem;" class="bi bi-box-arrow-left"></i></a>
        {% else %}
        <a class="btn btn-primary rounded-pill mr-sm-2" href="{% url 'account:register' %}"><i class="bi bi-person-plus"></i> Register</a>
        <a class="btn btn-outline-primary rounded-pill my-2 my-sm-0" href="{% url 'account:login' %}"><i style="font-size: 1rem;" class="bi bi-box-arrow-in-right"></i> Login</a>
        {% endif %}
      </form>
    </div>
  </div>

  </nav>