{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card border-light mb-3">
            <div class="card-header">
                <h4>Change your password</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Please, use the following form to change your password:
                </p>
                <form method="POST">
                    {{form|crispy}}
                    {% csrf_token %}
                    <input class="btn btn-primary btn-block" type="submit" value="Submit"/>
                </form>
            </div>
        </div>    
    </div>
    <div class="col-sm-3"></div>    
</div>

{% endblock content %}